@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&display=swap');

body {
    margin:0;
    font-family:'Hanken Grotesk', sans-serif !important;
    background-color: hsl(221, 100%, 96%);
}

